body, html {
  height: 100%;
  margin: 0;
  font-family: "assistant";
}

@font-face {
  font-family: "assistant";
  src: url("./assets/fonts/Assistant/Assistant-VariableFont_wght.ttf");
}

.body {
  /* background-image: url("./assets/background1.png"); */
  height: 1000%;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}