body, html {
  height: 100%;
  margin: 0;
  font-family: "assistant";
}

@font-face {
  font-family: "assistant";
  src: url("./assets/fonts/Assistant/Assistant-VariableFont_wght.ttf");
}

.body {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}