body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "assistant";
  direction: rtl;
}

@font-face {
  font-family: "assistant";
  src: url("./assets/fonts/Assistant/Assistant-VariableFont_wght.ttf");
}

.body {
  width: 100vw;
  background-size: cover;
  /* padding-top: 20vh; */
  /* position: relative; */
  /* bottom: 23vh; */
}