.heartIcon {
    height: 4vh;
    width: 9vw;
    margin-right: 1vw;
}

.fitContainer {
    margin-top: 4vh;
    position: relative;
}

.fitTextContainer {
    margin-right: 7vw;
    font-size: 1.7vh;
    font-weight: 600;
    direction: rtl;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 115vh;
}

.libraryContainer {
    margin-right: 4vw;
}

.gymText, .poolText, .libraryText {
    width: 40vw;
}

.poolPic {
    height: 60vh;
    position: relative;
    bottom: 85vh;
    right: 45vw;
}

.genericText1 {
    margin-top: 7vh;
    width: 75vw;
    margin-right: 3vw;
}

.titleNameGym {
    height: 7.25vh;
    width: 30vw;
}

.backArrow {
    width: 8vw;
    position: absolute;
    left: 2vw;
    top: 2vh;
}