.openContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
}


.title {
    margin-top: 3vh;
    height: 21vh;
    width: 95vw;
}

.logo {
    margin-top: 2vh;
    height: 19vh;
}

.slogan {
    color: white;
    margin-top: 3vh;
    font-weight: 700;
    font-size: 4.5vh;
}