.icon {
    height: 4vh;
    width: 9vw;
}

.serviceContainer {
    margin-top: 5vh;
}

.titleService {
    font-size: 4vh;
    font-weight: 700;
    margin-left: 1vw;
}

.titleName {
    font-size: 4vh;
    font-weight: 700;
    margin-right: 1vw;
    margin-top: 2vh;
    width: 25vw;
    height: 6vh;
}

.titleName1 {
    font-size: 4vh;
    font-weight: 700;
    margin-right: 1vw;
    width: 41vw;
    height: 8vh;
}

.titleName2 {
    font-size: 4vh;
    font-weight: 700;
    margin-right: 1vw;
    width: 38vw;
    height: 7vh;
}

.titleContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    direction: rtl;
    margin: 2vh 0vh;
}

.container2 {
    margin-right: 9vw;
}    

.container1 {
    margin-right: 2vw;
}
    
.textContainer2 {
    margin-right: 12vw;
}

.hamalText {
    width: 32vw;
}

.PPPText {
    width: 70vw;
}

.textContainer>div {
    flex-basis: 20ch;
    flex-shrink: 0;
}

.educText, .tashText, .barberText, .michshuvText, .yohalamText, .mokedText, .hamalText, .PPPText {
    margin-right: 5vw;
    font-size: 1.7vh;
    font-weight: 600;
    direction: rtl;
}

.container1 , .container2 {
    width: 30vw;
}

p {
    padding: 0;
    margin: 0;
}

.discContainer {
    margin-top: 3vh;
    display: flex;
}

.discText {
    margin-right: 5vw;
    font-size: 1.7vh;
    font-weight: 600;
    direction: rtl;
    width: 60vw;
}

.basePic {
    position: relative;
    left: 11vw;
    height: 40vh;
}