body, html {
    height: 100vh;
    margin: 0;
}

.shuttleContainer {
    margin-top: 8vh;
}

.icon {
    height: 4vh;
    width: 9vw;
}

.titleContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.titleName {
    font-size: 4vh;
    font-weight: 700;
    margin-right: 1vw;
}

.textContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    direction: rtl;
}

.textContainer>div {
    flex-basis: 20ch;
    flex-shrink: 0;
}

.shuttleTitle, .outsideTitle, .insideTitle {
    height: 6vh;
    width: 22vw;
}

.shuttleText, .insideText, .outsideText {
    width: 40vw;
    margin-right: 5vw;
    font-size: 1.7vh;
    font-weight: 600;
    direction: rtl;

}

.shuttlePic {
    position: relative;
    right: 38vw;
    height: 30vh;
}